.vsCarousel{margin:0;padding:0;}
.vsCarousel{font-size:12px;font-family: "Meslo LG","Helvetica Neue",Helvetica,"Microsoft yahei",Arial,sans-serif,monospace;}
.vsCarousel{font-size:100%;}
.vsCarousel a{text-decoration:none;}
.vsCarousel a:link{text-decoration:none;}
.vsCarousel a:visited{text-decoration:none;}
.vsCarousel a:hover{text-decoration:none;}
.vsCarousel a:active{text-decoration:none;}
.vsCarousel li{list-style:none;font-size:1rem;}
.vsCarousel em{font-style:normal}
.vsCarousel ul{font-size:0px;}
.vsCarousel img{border:0;vertical-align:middle}
.vsCarousel img{max-width:100%;max-height:100%;}
.vsCarousel table{border-collapse:collapse;border-spacing:0}
.vsCarousel p{word-wrap:break-word}
.vsCarousel *:focus{outline:none;}/*焦点颜色*/
.vsCarousel .clear:after{content:"";display:table;}
.vsCarousel .clear:after{clear:both;}
.vsCarousel .right{float:right;}
.vsCarousel .left{float:left;}
.vsCarousel .icon{width:1em;height:1em;overflow:hidden;}
.vsCarousel .bold{font-weight: bold;}


.vsCarousel{
  position: relative;
  overflow: hidden;
  opacity: 0;


  .vsCarousel-wrapper::after{
    content:"";
    display:table;
    clear:both;
  }

  .vsCarousel-wrapper{
    position: relative;
    //width: 1000%;
    margin: 0;
    padding: 0;
  }
  
  .vsCarousel-slide{
    position: relative;
    float: left;
    overflow: hidden;
    background-color: #f0f0f0;
    .vsCarousel-box{
      position: absolute;
      left: 50%;
      >img{
        position: relative;
        left: -50%;
        max-width: none;
        max-height: 100%;
        opacity: 0;
      }
    }
  }

  .vsCarousel-button-prev{
    position: absolute;
    top: 45%;
    left: 10%;
    background: url('../img/prev.png') no-repeat center;
    background-size:50px 50px;
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    cursor: pointer;
  }

  .vsCarousel-button-next{
    position: absolute;
    top: 45%;
    right: 10%;
    background: url('../img/next.png') no-repeat center;
    background-size:50px 50px;
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    cursor: pointer;
  }

  .vsCarousel-page{
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    width: 95%;
    margin-left: 2.5%;
    text-align: center;

    .vsCarousel-page-play{
      margin: 0 10px;
      width: 10px;
      height: 10px;
      border: 0;
      background-color: transparent;
      cursor: pointer;
      padding: 0px;
      position: relative;
      // background-image: url('../img');
    }

    .vsCarousel-page-play[data-play=pause]::before{
      content: '';
      position: absolute;
      display: block;
      background: url('../img/pause.png') no-repeat center;
      background-size:20px 20px;
      width: 20px;
      height: 20px;
      top: -5px;
      left: -5px;
    }

    .vsCarousel-page-play[data-play=start]::before{
      content: '';
      position: absolute;
      display: block;
      background: url('../img/play.png') no-repeat center;
      background-size:20px 20px;
      width: 20px;
      height: 20px;
      top: -5px;
      left: -5px;
    }
    
    .vsCarousel-page-button{
      border: 0;
      background-color: transparent;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin: 0 8px;
      color: #fff;
      cursor: pointer;
      position: relative;
      padding: 0px;
      
      &::after{
        content: '';
        width: 6px;
        height: 6px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        border: 2px solid transparent;
        transform: scale(1);
        transition: all .5s;
      }

      &:hover::after{
        content: '';
        width: 6px;
        height: 6px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        border: 2px solid #1296db;
        transform: scale(1.5);
        transition: all .5s;
      }

      .vsBar{
        position: absolute;
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
      }
    }

    .hover::after{
      content: '';
      width: 6px;
      height: 6px;
      background-color: #1296db;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 100%;
      border: 2px solid #1296db;
      transform: scale(1.5);
      transition: all .5s;
    }

    .hover:hover::after{
      content: '';
      width: 6px;
      height: 6px;
      background-color: #1296db;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 100%;
      border: 2px solid #1296db;
      transition: all .5s;
      transform: scale(1.5);
    }
  }
}